body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(222, 168, 248) 0%,
    rgb(168, 222, 248) 21.8%,
    rgb(189, 250, 205) 35.6%,
    rgb(243, 250, 189) 52.9%,
    rgb(250, 227, 189) 66.8%,
    rgb(248, 172, 172) 90%,
    rgb(254, 211, 252) 99.7%
  );
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
}

h1 {
  margin: 5px;
}

.weather-app {
  background: pink;
  max-width: 300px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

.search-form {
  margin: auto;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 10px 10px;
}

.search-form-button {
  background-color: #885df1;
  padding: 15px 30px;
  border: none;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 20px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

main {
  padding: 10px 0;
  display: inline-block;
  max-width: 100px;
}

.details {
  display: block;
  margin: auto 0;
}

.weather-app-data {
  display: flex;
  margin-right: auto;
}

.weather-app-city {
  font-size: 48px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  color: rgba(39, 33, 66, 0.4);
  line-height: 30px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #0f0f0f;
}

.weather-app-temperature-container {
  margin-top: 5px;
  display: inline-flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.weather-icon {
  width: 40px;
  height: 40px;
  margin: 0;
}

.weather-app-temperature {
  font-size: 50px;
  line-height: 50px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}
.weather-forecast {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #000;
  margin-top: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}
